<?xml version="1.0" encoding="UTF-8" ?>
<!-- SPDX-FileCopyrightText: 2019 - 2023 Jolla Ltd. -->
<!-- SPDX-FileCopyrightText: 2026 Jolla Mobile Ltd -->
<!-- SPDX-License-Identifier: BSD-3-Clause -->
<service id="mastodon-notifications">
    <type>microblogging</type>
    <translations>/usr/share/translations/settings-accounts-mastodon</translations>
    <name>Notifications</name>
    <icon>image://theme/icon-l-mastodon</icon>
    <provider>mastodon</provider>

    <template>
        <setting name="sync_profile_templates" type="as">["mastodon.Notifications"]</setting>
        <group name="api">
            <setting name="Host">https://mastodon.social</setting>
        </group>
    </template>
</service>
